.StockTicker {
  width: 90%;
  height: 100%;
  margin: auto;

  label, input[type=submit] {
    margin: 10px;
  }

  input[type=submit] {
    background: rgba(71, 150, 236, 255);
    min-width: 90px;Remove
    color: white;
    border: none;
    padding: 8px;
    border-radius: 15%;
  }

  input:focus {
    outline-width: 0;
  }
}

