.DisplayTable {
  margin: auto;
  padding: 10px;
}

table {
  width: 100%;
  height: 100%;
  border-spacing: 0;

  th, td {
    text-align: center;
    height: 50px;
    border: 1px solid black;
  }
}
