.odd-row td {
    background: rgba(230,230,230,255);
}

#table-headers th {
    background: rgba(158,158,158,255);
    color: white;
}

.even-row td {
    background: white;
}

#ticker-form-wrapper {
    margin: 10px;
}

#ticker-form-submit-button {
    background: rgba(71,150,236,255);
    min-width: 90px;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 15%;
}

body {
    font-family: sans-serif;
}
